@model IEnumerable<MomCom.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
	        @*@Html.DisplayNameFor(model => model.FirstName)*@
			Parent's First Name
        </th>
        <th>
	        @*@Html.DisplayNameFor(model => model.AgeRange1)*@
			Age 0-3
        </th>
        <th>
	        @*@Html.DisplayNameFor(model => model.AgeRange2)*@
			Age 4-7
        </th>
        <th>
	        @*@Html.DisplayNameFor(model => model.AgeRange3)*@
			Age 8-10
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Museum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outdoors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
	        @Html.DisplayFor(modelItem => item.AgeRange1)
        </td>
        <td>
	        @Html.DisplayFor(modelItem => item.AgeRange2)
        </td>
        <td>
	        @Html.DisplayFor(modelItem => item.AgeRange3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Museum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outdoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
